.menu {
    max-width: 1250px;
    margin: auto;

    padding: 75px 7%;
}

.menu-header {
    margin-bottom: 20px;
}

.menu-header h1 {
    font-size: clamp(45px, 6vw, 75px);

    letter-spacing: -3px;

    margin: 15px 0;
}


/* CATEGORIAS */

.menu-categories {
    display: flex;
    gap: 12px;

    padding: 35px 0 55px;
}

.category-filter {
    width: 58px;
    height: 58px;

    display: grid;
    place-items: center;

    border-radius: 50%;

    background: var(--card);

    border: 1px solid var(--border);

    font-size: 23px;

    transition: .25s ease;
}

.category-filter:hover,
.category-filter.active {
    background: white;
    color: #211d1c;

    transform: translateY(-3px);
}


/* SEÇÃO */

.menu-section {
    margin-bottom: 75px;

    scroll-margin-top: 100px;
}

.section-title {
    display: flex;
    align-items: center;

    gap: 12px;

    margin-bottom: 22px;
}

.section-title span {
    font-size: 28px;
}

.section-title h2 {
    font-size: 28px;
}


/* PRODUTOS */

.products-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit,
            minmax(230px, 1fr));

    gap: 18px;
}

.product-card {
    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 22px;

    padding: 15px;

    transition: .25s ease;

    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);

    border-color: #4b3b36;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .2);
}

.product-image {
    height: 190px;

    display: grid;
    place-items: center;

    border-radius: 17px;

    background:
        radial-gradient(circle,
            #39231e,
            #28201f);

    font-size: 85px;

    transition: .3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.02);
}

.product-content {
    padding: 15px 5px 5px;
}

.product-content h3 {
    font-size: 19px;

    margin-bottom: 7px;
}

.product-content p {
    font-size: 14px;

    margin-bottom: 15px;
}

.product-bottom {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.product-bottom strong {
    color: white;

    font-size: 18px;
}

.product-bottom button {
    width: 44px;
    height: 44px;

    border: none;

    border-radius: 50%;

    background: var(--primary);

    color: white;

    font-size: 25px;

    transition: .25s ease;
}

.product-bottom button:hover {
    background: var(--primary-light);

    transform: scale(1.08);
}