.product-page {
    max-width: 1150px;

    margin: auto;

    padding: 65px 7%;
}

.back-button {
    color: var(--muted);

    display: inline-block;

    margin-bottom: 30px;

    transition: .2s;
}

.back-button:hover {
    color: white;
}

.product-detail {
    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 60px;

    align-items: center;
}

.product-photo {
    height: 450px;

    display: grid;
    place-items: center;

    border-radius: 30px;

    background:
        radial-gradient(circle,
            #442921,
            #231918);

    font-size: 160px;

    border: 1px solid var(--border);

    box-shadow:
        0 30px 80px rgba(0, 0, 0, .25);
}

.product-info h1 {
    font-size: clamp(45px, 6vw, 70px);

    margin: 15px 0 20px;

    letter-spacing: -3px;
}

.product-info p {
    max-width: 550px;

    margin-bottom: 25px;
}

.product-info h2 {
    color: var(--primary);

    font-size: 32px;

    margin-bottom: 25px;
}

.product-actions .btn {
    min-width: 220px;
}

@media (max-width: 800px) {

    .product-detail {
        grid-template-columns: 1fr;
    }

    .product-photo {
        height: 300px;
        font-size: 100px;
    }

}